# Db2 11.5.4 RESTful Programming

## Import the required programming libraries

In [1]:
import requests
import pandas as pd

## Create the Header File required for getting an authetication token

In [2]:
headers = {
  "content-type": "application/json"
}

## RESTful Host
We have to provide the location of the RESTful service for our calls.

In [3]:
Db2RESTful = "http://localhost:50050"

## API Authentication Service
Each service has its own path in the RESTful call. For authentication we need to point to the `v1/auth` service.

In [4]:
API_Auth = "/v1/auth"

## Authentication
To authenticate to the RESTful service you must provide the connection information for the database along with the userid and password that you are using to authenticate with. You can also provide an expiry time so that the access token that gets returned will be invalidated after that time period.

In [5]:
body = {
  "dbParms": {
    "dbHost": "10.0.0.2",
    "dbName": "SAMPLE",
    "dbPort": 50000,
    "isSSLConnection": False,
    "username": "DB2INST1",
    "password": "db2inst1"
  },
  "expiryTime": "300m"
}

## API Service
When communicating with the RESTful service, you must provide the name of the service that you want to interact with. In this case the authentication service is */v1/auth*.

In [6]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_Auth), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response code of 200 means that the authentication worked properly, otherwise the error that was generated is printed.

In [7]:
print(response)

<Response [200]>

In [8]:
if (response.status_code == 200):
  token = response.json()["token"]
  print("Token: {}".format(token))
else:
  print(response.json())  
  print(response.json()["errors"])

Token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiY2xpZW50X2lkIjoiNzhiMTI2NjctZmUxZi00YWIxLWE2YTktZGU4NGQxNzVmNmVjIiwiZXhwIjoxNjA1MTQwODMzLCJpc3MiOiJEQjJJTlNUMSJ9.YOzZYcmLiJNfTgDuHr5V3gR9BhvXVRI4B9pjk9odMtRy8D9Y7KG-oKVlc2oVAZaFNrqDbqycsfQHtRlt7dl9WjV7klHZNFrxhdJ1gnr261p6Wsc7OSwqF9MnuWOJ-1wtahPzSAwOn6oHi30sWCROVgoB0IrtzyFWzqNmFpBtUj1Z2hYbDRYG4xH-484qk8cgCBSomvutPtUNjetsWeDU3R3nXvRKMkhwHTinOV1fYP63GZqAzQsmj52BBjdw5TnsZ3BaR9cLTTS8JubMlOjakcmPQqF4nOhC239QDuaWu9wZhVjyy6_ngqLB6s5KvQPAS9SmLXC82JkDfYCYh_yf-g

## Dynamic Select Statement
The standard header for all subsequent calls will use this format.

In [9]:
headers = {
  "authorization": f"{token}",
  "content-type": "application/json"
}

## API Exec SQL
Executing SQL requires a different service endpoint.

In [10]:
API_execsql = "/v1/services/execsql"

In this example the code requests that the RESTful function waits until the command is complete.

In [11]:
body = {
  "isQuery": True,
  "sqlStatement": "SELECT * FROM EMPLOYEE WHERE EMPNO='000010'",
  "sync": True
}

In [12]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [13]:
print(response)

<Response [200]>

Retrieve the results.

In [14]:
print(response.json()["resultSet"])
display(pd.DataFrame(response.json()['resultSet']))

[{'BIRTHDATE': '1963-08-24T00:00:00Z', 'BONUS': 1000, 'COMM': 4220, 'EDLEVEL': 18, 'EMPNO': '000010', 'FIRSTNME': 'CHRISTINE', 'HIREDATE': '1995-01-01T00:00:00Z', 'JOB': 'PRES    ', 'LASTNAME': 'HAAS', 'MIDINIT': 'I', 'PHONENO': '3978', 'SALARY': 152750, 'SEX': 'F', 'WORKDEPT': 'A00'}]

,BIRTHDATE,BONUS,COMM,EDLEVEL,EMPNO,FIRSTNME,HIREDATE,JOB,LASTNAME,MIDINIT,PHONENO,SALARY,SEX,WORKDEPT
0,1963-08-24T00:00:00Z,1000,4220,18,000010,CHRISTINE,1995-01-01T00:00:00Z,PRES,HAAS,I,3978,152750,F,A00

## Use Parameters in a SQL Statement

In [15]:
body = {
  "isQuery": True,
  "parameters" : {
      "1" : "000010"
  },
  "sqlStatement": "SELECT * FROM EMPLOYEE WHERE EMPNO=?",
  "sync": True
}

In [16]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [17]:
response.json()["resultSet"]
display(pd.DataFrame(response.json()['resultSet']))

,BIRTHDATE,BONUS,COMM,EDLEVEL,EMPNO,FIRSTNME,HIREDATE,JOB,LASTNAME,MIDINIT,PHONENO,SALARY,SEX,WORKDEPT
0,1963-08-24T00:00:00Z,1000,4220,18,000010,CHRISTINE,1995-01-01T00:00:00Z,PRES,HAAS,I,3978,152750,F,A00

## Generate a Call and don't wait for the results
Turn sync off to require us to poll for the results.

In [18]:
body = {
  "isQuery": True,
  "sqlStatement": "SELECT * FROM EMPLOYEE WHERE EMPNO='000010'",
  "sync": False
}

In [19]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [20]:
print(response)

<Response [202]>

Retrieve the job id.

In [21]:
job_id = response.json()["id"]

In [22]:
print(job_id)

dfc79ec7-8fd2-4145-9772-3ffc883844fc

## Retrieve Result set using Job ID
The service API needs to be appended with the Job ID.

In [23]:
API_get = "/v1/services/"

We can limit the number of rows that we return at a time. Setting the limit to zero means all of the rows are to be returned.

In [24]:
body = {
  "limit": 0
}

Get the results.

In [25]:
try:
    response = requests.get("{}{}{}".format(Db2RESTful,API_get,job_id), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

Retrieve the results.

In [28]:
print(response.json()["resultSet"])
display(pd.DataFrame(response.json()["resultSet"]))

[{'BIRTHDATE': '1963-08-24T00:00:00Z', 'BONUS': 1000, 'COMM': 4220, 'EDLEVEL': 18, 'EMPNO': '000010', 'FIRSTNME': 'CHRISTINE', 'HIREDATE': '1995-01-01T00:00:00Z', 'JOB': 'PRES    ', 'LASTNAME': 'HAAS', 'MIDINIT': 'I', 'PHONENO': '3978', 'SALARY': 152750, 'SEX': 'F', 'WORKDEPT': 'A00'}]

,BIRTHDATE,BONUS,COMM,EDLEVEL,EMPNO,FIRSTNME,HIREDATE,JOB,LASTNAME,MIDINIT,PHONENO,SALARY,SEX,WORKDEPT
0,1963-08-24T00:00:00Z,1000,4220,18,000010,CHRISTINE,1995-01-01T00:00:00Z,PRES,HAAS,I,3978,152750,F,A00

## Create a RESTful Service

In [37]:
API_makerest = "/v1/services"

Define the SQL that we want in the RESTful call.

In [38]:
body = {"isQuery": True,
       "parameters": [
         {
         "datatype": "VARCHAR(8)",
         "name": "@empno"
         }
       ],
       "schema": "DB2INST1",
       "serviceDescription": "Return the last name of the employee",
       "serviceName": "getemployee",
       "sqlStatement": "SELECT LASTNAME FROM EMPLOYEE WHERE EMPNO=@empno",
       "version": "11"
}

In [39]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [48]:
if (response.status_code == 201):
  print("Service Created")
else:
  print(response.json()['errors'])

[{'code': 'resource_already_exists', 'message': "[Db2 REST] The service 'getemployee' version '11' already exists."}]

Now you can call the RESTful service.

In [49]:
API_runrest = "/v1/services/getemployee/10"

In [50]:
body = {
  "parameters": {
    "@empno": "000010"
  },
  "sync": True
}

In [51]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [52]:
print(response)

<Response [200]>

In [53]:
print(response.json())
display(pd.DataFrame(response.json()['resultSet']))

{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'LASTNAME': 'HAAS'}], 'rowCount': 1}

  LASTNAME
0     HAAS

## List Available Services

In [71]:
API_listrest = "/v1/services"

In [72]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [73]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2020-11-11T10:17:01.690029Z,DB2INST1,Return the last name of the employee,getemployee,DB2INST1,10
1,2020-11-11T10:20:58.692839Z,DB2INST1,Return the last name of the employee,getemployee,DB2INST1,11

## Delete a Service

In [67]:
API_deleteService = "/v1/services"
Service = "/getemployee"
Version = "/9"

In [69]:
try:
    response = requests.delete("{}{}{}{}".format(Db2RESTful,API_deleteService,Service,Version), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [70]:
print (response)

<Response [204]>

## Setup the REST Service Meta-Data in the Db2 Database

In [111]:
API_Auth = "/v1/auth"

In [125]:
body = {
  "dbParms": {
    "dbHost": "services-uscentral.skytap.com",
    "dbName": "bigsql",
    "dbPort": 12160,
    "isSSLConnection": False,
    "username": "USER999",
    "password": "cEs*F5nUZ32#5?_w"
  },
  "expiryTime": "300m"
}

In [126]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_Auth), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response code of 200 means that the authentication worked properly, otherwise the error that was generated is printed.

In [127]:
print(response)

<Response [401]>

In [124]:
if (response.status_code == 200):
  token = response.json()["token"]
  print("Token: {}".format(token))
else:
  print(response.json())  
  print(response.json()["errors"])

{'errors': [{'code': 'authentication_failure', 'message': 'SQLDriverConnect: {08001} [IBM][CLI Driver] SQL1336N  The remote host "http://services-uscentral.skytap.com" was not found.  SQLSTATE=08001\n'}], 'trace': None}
[{'code': 'authentication_failure', 'message': 'SQLDriverConnect: {08001} [IBM][CLI Driver] SQL1336N  The remote host "http://services-uscentral.skytap.com" was not found.  SQLSTATE=08001\n'}]

In [90]:
API_metadata = "/v1/metadata/setup"

In [93]:
headers = {
  "authorization": f"{token}",
  "content-type": "application/json"
}

In [94]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_metadata), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [95]:
print(response)

<Response [201]>

## API Exec SQL
Executing SQL requires a different service endpoint.

In [96]:
API_execsql = "/v1/services/execsql"

In this example the code requests that the RESTful function waits until the command is complete.

In [106]:
body = {
  "isQuery": True,
  "sqlStatement": "SELECT * FROM SYSCAT.TABLES",
  "sync": True
}

In [107]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [108]:
print(response)

<Response [200]>

Retrieve the results.

In [110]:
display(pd.DataFrame(response.json()['resultSet']))

,ACCESS_MODE,ACTIVE_BLOCKS,ALTER_TIME,APPEND_MODE,AUDITEXCEPTIONENABLED,AUDITPOLICYID,AUDITPOLICYNAME,AVGCOMPRESSEDROWSIZE,AVGROWCOMPRESSIONRATIO,AVGROWSIZE,...,TABLEID,TABLEORG,TABLESIZE,TABNAME,TABSCHEMA,TBSPACE,TBSPACEID,TEMPORALTYPE,TYPE,VOLATILE
0,F,0,2020-06-25T04:10:08.185788Z,N,N,None,None,0,0,530,...,5,R,-1,SYSTABLES,SYSIBM,SYSCATSPACE,0,N,T,
1,F,-1,2020-06-25T04:10:08.185788Z,N,N,None,None,-1,-1,-1,...,6,R,-1,SYSCOLUMNS,SYSIBM,SYSCATSPACE,0,N,T,
2,F,0,2020-06-25T04:10:08.185788Z,N,N,None,None,0,0,412,...,7,R,-1,SYSINDEXES,SYSIBM,SYSCATSPACE,0,N,T,
3,F,-1,2020-06-25T04:10:08.185788Z,N,N,None,None,-1,-1,-1,...,11,R,-1,SYSVIEWS,SYSIBM,SYSCATSPACE,0,N,T,
4,F,-1,2020-06-25T04:10:08.185788Z,N,N,None,None,-1,-1,-1,...,12,R,-1,SYSVIEWDEP,SYSIBM,SYSCATSPACE,0,N,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,F,-1,2020-10-22T16:41:26.199324Z,N,N,None,None,-1,-1,-1,...,0,N,-1,ADMIN_TASK_LIST,SYSTOOLS,None,0,N,V,
453,F,-1,2020-10-22T16:41:26.355772Z,N,N,None,None,-1,-1,-1,...,0,N,-1,ADMIN_TASK_STATUS,SYSTOOLS,None,0,N,V,
454,F,-1,2020-10-22T16:42:00.622373Z,N,N,None,None,-1,-1,-1,...,4,R,-1,WLSTATS,IBM_RTMON,TS4MONITOR,4,N,T,
455,F,-1,2020-11-11T20:50:29.77529Z,N,N,None,None,-1,-1,-1,...,5,R,-1,RESTSERVICE,DB2REST,TS4MONITOR,4,N,T,
456,F,-1,2020-10-22T16:42:00.723537Z,N,N,None,None,-1,-1,-1,...,6,R,-1,HISTOGRAMBIN,IBM_RTMON,TS4MONITOR,4,N,T,

## List Available Services

In [71]:
API_listrest = "/v1/services"

In [72]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [73]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2020-11-11T10:17:01.690029Z,DB2INST1,Return the last name of the employee,getemployee,DB2INST1,10
1,2020-11-11T10:20:58.692839Z,DB2INST1,Return the last name of the employee,getemployee,DB2INST1,11